body {
    color: white;
}
.box1{
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: rgba(120, 182, 182, 0.815);
}
.box2{
    padding: 20px;
    height: 200px;
    width: 200px;
    background-color: rgba(155, 26, 17, 0.815);
}
.box3{
    border: 8px solid yellow;
    height: 200px;
    width: 200px;
    background-color: rgba(15, 151, 38, 0.815);
}
.box4{
    height: 200px;
    width: 200px;
    background-color: rgba(57, 10, 127, 0.815);
}
