* {
    /* universal selector */
    margin: 0px;
    padding: 0px;
}

body {
    /* body selector */
    margin: 0px;
    padding: 0px;
}

.classselector {
    /* class selector */
    height: 300px;
    width: 300px;
    background-color: aqua;
}

#idselector {
    /* id selector */
    height: 300px;
    width: 300px;
    background-color: moccasin;
}

/* select all p in div */
/* div p{
    background-color: aqua;
    color: blue;
} */


/* child selector */
/* div > p{
    background-color: aqua;
    color: blue;
} */

/* h1 only select  */
h1 + P{
    background-color: aqua;
}

/* acording to input type selector  */
input[type="text"]{
background-color: aqua;
}
